<style>
	div {
  background-color: red;
  color: white;
  font-size: 32px;
}
p {
   background-color: green;
   color: white;
   font-size: 18px;
   }
button {
     background-color:yellow;
	 font-size: 18px;
	 }
</style>
